{% if instance_list %}
    <ul><h1>List</h1>
    {% for x in instance %}
        <li>{{ x.content }}</li>
        {% if x.image %}
            <img src='{{ x.image.url }}' /></br>
        {% endif %}
        {% if x.video %}
            <video width="320" height="240" controls>
                <source src="{{ x.video.url }}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
        {% endif %}
    {% endfor %}
    </ul>

{% else %}
    <h1>No data present</h1>
{% endif %}