<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>
<style>

    h1 {
    font-family: Lobster, Monospace;
    color:red;
  }
  h3{
      margin:50px;
  }
  .work{
      padding:30px;
      
  }
  .real{
      margin-top:20px;
      margin-left:60px;
  }
</style>

<div class='col-sm-2'>
<div class='row'>
    <div class='work'>
{% if instance_list %}
    <ul><h1>{{ title }}</h1>
    
    {% for x in instance %}
    <div class='thumbnail'>
        <li><a href="/sub_titles/{{ x }}">{{ x }}</a></li>
        
    </div>
    {% endfor %}
    </ul>
    </div>
    </div>
    </div>
    
    <div class='real'>
        <div class='col-sm-8 col-sm-offset-1'>
            <div class="container-fluid">
                
        <form class='real' method='GET' action='' value='{{ request.GET.query }}'>
            <input type='text' name='query' placeholder='Search by {{ title }}'/>
            <input type='submit' value='Search'/>
        </form>
        {% for x in object_list %}
            <div class='thumbnail'>
                <h3><center><strong>{{ x.element }}</strong></center></h3>
                <h4>{{ x.content }}</h4>
                {% if x.image %}
                    <img src='{{ x.image.url }} 'class="img-responsive" /></br>
                {% endif %}
                
            {% if x.video %}
            <center><video width="320" height="240" controls>
                <source src="{{ x.video.url }}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video></center>
        {% endif %}
            </div>
            {% endfor %}
        
            </div>
        
    </div>
    </div>

{% else %}
    <h1>No category's present</h1>
{% endif %}
</div>
</div>